body{
	margin: 0;
	padding: 0;
	background-image: url(../images/wall2.jpg);
	opacity: 0.8;
}
.main{
	padding: 200px;
	margin: auto;




}
.container{
	min-height: 200px;
	min-width: 150px;
}
.tab{
	width:100%;
	background-color: #ffffff;
	text-align: center;
	height: 100%;

	/*width :300px;*/
}
table, th, td{
		border:1px solid black;
		border-collapse: collapse;
		/*border-radius: 10px;*/
}
/*.tab
{
		border-collapse: collapse;
}
*/
th,td{
	padding: 10px;
}
table{
	border-radius: 10px;
	border-style: hidden;
}
th{
	background-image: url(../images/wall.jpeg); 
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
}
